body{
    max-width: 1000px;
    margin: auto;
    background-image: url(kepek/hatter.jpg);
}


.fejlec {
    height: 20vh;
    background-image: url(/kepek/fejlec.jpg);
    color: whitesmoke;
    grid-area: fejlec;
}

.kepek {
    grid-area: kep;
    max-width: 400px;
}

.menu {
    grid-area: me;
    max-width: 200px;
}

.leirasok {
    grid-area: leiras;
    max-width: 400px;
    text-align: justify;
    margin: auto;
}

.gombok{
    background-color:dodgerblue;
    display: flex;
    color: azure;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
}

.fejlec h1 {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    position: relative;
    top: 40px;
    text-shadow: 1px 1px 2px black;
}

.footer {
    background-color:dodgerblue;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    grid-area: fo;
}

.grid {
    height: 100vh;
    width: 1000px;
    display: grid;
    background-color: azure;
    grid-template-areas: 
    'fejlec fejlec fejlec'
    'fejlec fejlec fejlec'
    'fejlec fejlec fejlec'
    'me kep leiras'
    'me kep leiras'
    'me kep leiras'
    'me kep leiras'
    'me kep leiras'
    'fo fo fo'
    'fo fo fo';

}
