body{
    width: 1000px;
    margin: auto;
    background-image: url(kepek/hatter.jpg);
}


.fejlec {
    height: 20vh;
    background-image: url(/kepek/fejlec.jpg);
    color: whitesmoke;
    grid-area: fejlec;
    object-fit:fill;
    max-width: 1000px;
}

.menu {
    grid-area: me;
}

.kepek {
    padding-block: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-area: kep;
    width: 400px;
}

.leirasok {
    grid-area: leiras;
    width: 400px;
    text-align: justify;
    margin: auto;
}

.gombok{
    background-color:dodgerblue;
    display: flex;
    color: azure;
    justify-content: center;
    width: 200px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    margin: 5px;
}

.fejlec h1 {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
    position: relative;
    top: 40px;
    text-shadow: 1px 1px 2px black;
}

.footer {
    background-color:dodgerblue;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
    grid-area: fo;
}

.polaroid {
    width: 180px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
.rotate_right {
    float: left;
    transform: rotate(7deg);
  }
  
.rotate_left {
    float: left;
    transform: rotate(-8deg);
}


.felso_kepek {
    padding-bottom: 35px;
}

.also_kepek {
    padding-top: 35px;
}

.grid {
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: azure;
    grid-template-areas: 
    'fejlec fejlec fejlec fejlec'
    'fejlec fejlec fejlec fejlec'
    'fejlec fejlec fejlec fejlec'
    'me kep kep leiras'
    'me kep kep leiras'
    'me kep kep leiras'
    'me kep kep leiras'
    'me kep kep leiras'
    'fo fo fo fo'
    'fo fo fo fo';

}
